
@import url("https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre:400,500|Lora:400,400i,700,700i|Roboto:300,400,500,600,700");
@import url("font-awesome/css/fontawesome-all.css");







/* ===================================================================
 * # basic/base setup styles
 *
 * ------------------------------------------------------------------- */
html {
	font-size: 62.5%;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}


/* ------------------------------------------------------------------- 
 * ## Typography resets 
 * ------------------------------------------------------------------- */
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td {
	margin: 0;
	padding: 0;
}

p {
	font-size: inherit;
	text-rendering: optimizeLegibility;
}

em,
i {
	font-style: italic;
	line-height: inherit;
}

strong,
b {
	font-weight: bold;
	line-height: inherit;
}

small {
	font-size: 60%;
	line-height: inherit;
}

ol,
ul {
	list-style: none;
}

li {
	display: block;
}

/* ------------------------------------------------------------------- 
 * ## links
 * ------------------------------------------------------------------- */
a {
	text-decoration: none;
	line-height: inherit;
}

a img {
	border: none;
}


/* ===================================================================
 * # grid v2.0.0
/* rows
 * ------------------------------------- */
.row {
	width: 89%;
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
}

.row .row {
	width: auto;
	max-width: none;
	margin-left: -20px;
	margin-right: -20px;
}

/* columns
 * -------------------------------------- */
.column {
	flex: 1;
	padding: 0 20px;
}

.collapse > .column,
.column.collapse {
	padding: 0;
}

/* flex row containers utility classes
 * ----------------------------------------- */
.row.row-wrap {
	flex-wrap: wrap;
}

.row.row-nowrap {
	flex-wrap: nowrap;
}

.row.row-top {
	align-items: flex-start;
}

.row.row-bottom {
	align-items: flex-end;
}

.row.row-center {
	align-items: center;
}

.row.row-stretch {
	align-items: stretch;
}

.row.row-baseline {
	align-items: baseline;
}

/* flex item utility alignment classes
 * ----------------------------------------- */
.align-center {
	margin: auto;
	align-self: center;
}

.align-left {
	margin-right: auto;
	align-self: center;
}

.align-right {
	margin-left: auto;
	align-self: center;
}

.align-x-center {
	margin-right: auto;
	margin-left: auto;
}

.align-x-left {
	margin-right: auto;
}

.align-x-right {
	margin-left: auto;
}

.align-y-center {
	align-self: center;
}

.align-y-top {
	align-self: flex-start;
}

.align-y-bottom {
	align-self: flex-end;
}


/* ------------------------------------------------------------------- 
 * ## mobile devices 
 * ------------------------------------------------------------------- */
@media screen and (max-width:600px) {
	.row {
		width: auto;
		padding-left: 25px;
		padding-right: 25px;
	}

	.row .row {
		margin-left: -10px;
		margin-right: -10px;
		padding-left: 0;
		padding-right: 0;
	}

	.column {
		padding: 0 10px;
	}

	.hide-on-mobile {
		display: none;
	}

}

/* ------------------------------------------------------------------- 
 * ## small mobile devices <= 400px
 * ------------------------------------------------------------------- */
@media screen and (max-width:400px) {
	.row .row {
		margin-left: 0;
		margin-right: 0;
	}

	.column {
		-webkit-flex: 0 0 100%;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		padding: 0;
	}

}



/* misc helper classes
 * -------------------------------------- */
.overflow-hidden {
	overflow: hidden;
}


.no-border {
	border: none;
}

.full-width {
	width: 100%;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}